/* body{
  margin: 2x;
} */
body{
  font-family: 'Dosis', sans-serif;
}
.nav-color{
  background-color: #FFC107 !important;
}
.nav-icon{
  font-size: 32px;
}
.navbar-brand{

  /* text-align: center; */
  font-weight: bold;
  font-size: 1.5rem;
}
.icon-a{
  text-decoration: none;
  color: black;
  margin-right: 10px;
}
.navbar {
  padding: 10px 0;
  /* margin: 0; */
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  /* align-items: center; */
}

.btn-login {
  /* margin-left: 10px; */
}

.carousel {
  
  position: relative;
  margin: 50px auto;
  width: 70vw;
  height: 92vh;
  max-width: 100%;
  max-height: 100%;
  

}

.carousel .slide {
  position: relative;
  /* object-fit: fill !important; */
}

.carousel .slide img {
  width: 1000px;
  height: auto;
  object-fit: fill !important;
}
.carousel-content {
  position: absolute;
  top: 50%;
  width: 100vw;
  height: 140vh;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.carousel-content h1 {
  margin-top: 250px;
  font-size: 40px;
  margin-bottom: 10px;
}

.carousel-content p {
  /* justify-content: center;
  align-items: center; */
  /* align-items: ; */
  width: 1000px;
  margin-left: 240px;
  font-size: 24px;
  font-weight: lighter;
}
.content-home {
  text-align: center;
  padding-top: 50px !important;
  padding: 100px;
}

.content-home p {
  font-size: 24px;
  margin-bottom: 20px;
}

.content-home h4 {
  font-size: 24px;
  font-weight: bold;
}
